

  label {
    font-family: "Playwrite FR Moderne";
  }

  form {
    justify-content: center;
  }
  


  h3 {
    font-family: "Playwrite FR Moderne";
    font-size: 3em;
    text-align: center;
    color: #ffffff;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
    margin: 0;
  }

  #wishlist {
    background: linear-gradient(135deg,  #43b600a3, rgba(7, 84, 0, 0.893));
    height: 50px;
    margin-bottom: 30px;
  }

  
  button:hover {
    background-color: #c41f1f;
    color: white;
    transform: scale(1.05);
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: -20px;
  }
  
  .form-group {
    flex: 1 1 calc(50% - 15px);
    display: flex;
    flex-direction: column;
  }

  
  #description {
    flex: 1 1 calc(50% - 15px);
    height: 100px;
    width: 555px;
    display: flex;
    flex-direction: column;
    padding: 2%;
  }
  
  .form-group.full-width {
    flex: 1 1 100%;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  #aggiungi {
    display: block;
    margin: 20px auto;
    background-color: #132d83;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
    }

  #intestation {
    font-family: "Playwrite FR Moderne"
  }

  #prova {
    display: flex;
    
  }

  .wishlistContainer{
    display: flex;
    align-items: center;
  }

  .btn{
    font-family: "Playwrite FR Moderne", cursive;
  }

  .table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px; 
}

.table tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0; 
}

.table th:first-child {
    border-radius: 10px 0 0 0; 
}

.table th:last-child {
    border-radius: 0 10px 0 0;
}