.registerContainer {
  background: linear-gradient(135deg,  #43b600a3, rgba(7, 84, 0, 0.893));
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  height: 550px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
}

label {
  font-family: "Playwrite FR Moderne";
}
  form {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .btn-check {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #submit {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #132d83;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
  }

  #submit:hover {
    background-color: #21df2a;
    color: black;
    transform: scale(1.05);
  }

  h3, h4 {
    font-family: "Playwrite FR Moderne";
    font-size: 3em;
    text-align: center;
    color: #ffffff;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
    margin: 0;
  }

  h6 {
    font-family: "Playwrite FR Moderne";
    text-align: center;
    color: #ffffff;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
    padding: 3em;
    padding-bottom: 0em;

  }

  .alert {
    background: linear-gradient(135deg,  #43b600a3, rgba(7, 84, 0, 0.893));
    padding-top: 2em;
  }

  #alertext {
    margin: 3em;
    font-size: 20px;
    margin-top: 3em;
    margin-bottom: 0em;
    font-family: Arial, Helvetica, sans-serif bold;
  }

  .mb-0{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mb-0 button {
    margin: 7px;
  }
  
  #newObj {
    background: linear-gradient(135deg,  #43b600a3, rgba(7, 84, 0, 0.893));
    height: 50px;
    margin-bottom: 30px;
  }
  
  #myobj:hover {
    background-color: #21df2a;
    color: black;
    transform: scale(1.05);
  }

  #home:hover {
    background-color: #878787;
    color: black;
    transform: scale(1.05);
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .form-group {
    flex: 1 1 calc(50% - 15px);
    display: flex;
    flex-direction: column;
  }
  
  .form-group.full-width {
    flex: 1 1 100%;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  #description {
    flex: 1 1 calc(50% - 15px);
    height: 100px;
    width: 555px;
    display: flex;
    flex-direction: column;
    padding: 2%;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }