<div class="m-4">
    <div id="dettagli">Dettagli oggetto</div>
    <div id="table">
        <table class="table table-striped-columns">
            <tbody>
                <tr><td>NOME:</td><td>{{item?.name}}</td></tr>
                <tr><td>DESCRIZIONE:</td><td>{{item?.description}}</td></tr>
                <tr><td>STATO:</td><td>{{item?.activetrade}}</td></tr>
                <tr><td>CONDIZIONE:</td><td>{{item?.condition}}</td></tr>
                <tr><td>COMMENTO:</td><td>{{item?.conditionComment}}</td></tr>
                <tr><td>CATEGORIA:</td><td>{{item?.categoryName}}</td></tr>
                <tr><td>CITTA':</td><td>{{item?.ownerCityName}}</td></tr>
                <tr><td>DATA:</td><td>{{item?.creationDate}}</td></tr>
            </tbody>
        </table>  
    </div>
    <div><span class="change">
        <span><button id="trade" class="btn btn-secondary btn-hover2" routerLink= "/last">Indietro</button></span>
        
            @if (item?.activetrade) {
                <button id="trade" class="btn btn-success btn-hover" [routerLink]="['/trade-offer',item?.id]">Scambia</button>
            }
        </span>
    </div>
</div>
