#intestation {
    font-family: "Playwrite FR Moderne", cursive;
    background-color: transparent;
}
#tabody button{
    font-family: "Playwrite FR Moderne", cursive;
}

table{
    border-radius: 10%;
    
}

#table {
display: flex;
justify-content: center;
}

.table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px; 
}

.table tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0; 
}

.table th:first-child {
    border-radius: 10px 0 0 0; 
}

.table th:last-child {
    border-radius: 0 10px 0 0;
}