/* You can add global styles to this file, and also import other style files */


body { 
    margin: 0; 
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    background: linear-gradient(75deg,rgb(255, 231, 213), rgb(208, 166, 136)) ;
}


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
