<div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
        <h3 class="card-title">Benvenuto su ReShare</h3>
        <div>
            <img src="favicon.ico" alt="simbolo dell'infinito verede che indica il riuso" id="logo">
        </div>
      <p class="card-text">la piattaforma dedicata allo scambio di oggetti usati. La nostra missione è promuovere la sostenibilità e ridurre gli sprechi, offrendo a tutti la possibilità di dare nuova vita agli oggetti che non utilizzano più. Su ReShare, crediamo che ogni oggetto meriti una seconda possibilità e che, insieme, possiamo contribuire a un futuro più verde e responsabile. Unisciti a noi nella nostra missione per un mondo migliore, dove il riuso e la condivisione diventano la norma.</p>
      <h6>ReShare: condividi, scambia, rispetta il pianeta.</h6>
      <div class="button-container">
        <button class="btn btn-success" routerLink= "/last">Vai agli ultimi aggiunti</button>
        
    </div>
    </div>
    <div class="card-footer">
    </div>
  </div>
