<div id="Registrazione"><h3>Registrazione</h3></div>
<div class="registerContainer">
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput
          name = "firstname"  
          [formControl]="firstname"
           >
        </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Cognome</mat-label>
        <input matInput
        name = "lastname" 
        [formControl]="lastname"
        >
      </mat-form-field>
  </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          name="email"
          matInput
          placeholder="pat@example.com"
          [formControl]="email"
          (blur)="updateErrorMessage()"
        />
        @if (email.invalid) {
          <mat-error>{{errorMessage()}}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Telefono</mat-label>
        <input matInput name="phone">
      </mat-form-field>
  </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Città</mat-label>
        <mat-select name="city" [formControl]="city">
          <mat-option value="Roma">Roma</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Genere</mat-label>
        <mat-select name="gender" [formControl]="gender">
          <mat-option value="male">Maschio</mat-option>
          <mat-option value="female">Femmina</mat-option>
          <mat-option value="prefer not say">Preferisco non dirlo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label>*Data di nascita: <input type="date" name="birthdate" required ngModel></label>
    </div>
    <div class="form-group">
      <label>*Password: <input type="password" name="password" required ngModel></label>
    </div>
    <div>
      <label>Descrizione: <input type="text" id="description" name="description" ngModel></label>
    </div>
    <div>
      <button type="submit" [disabled]="!registerForm.valid">REGISTRATI!</button>
    </div>
  </form>
</div>
