<div id="newType"><h3>Aggiungi tipologia di prodotto!</h3></div>
<div class="addTypeContainer">
<form #addItemTypeForm="ngForm" (ngSubmit)="onSubmit(addItemTypeForm)">
    <div class="form-group">
        <label>*Nome: <input type="text" name="name" required ngModel></label>
      </div>
      <div class="form-group">
        <label>*Descrizione: <input type="text" name="description" required ngModel id="large-input"></label>
      </div>
      <div class="form-group">
          <label>*Categoria:</label>
          <select name="categoryName" required ngModel>
            <option value="elettronica">Elettronica</option>
            <option value="giardinaggio">Giardinaggio</option>
            <option value="casa">Casa</option>
          </select>
        </div>
      <div class="form-group">
        <button type="submit">AGGIUNGI!</button>
      </div>
</form>
</div>
